[Desktop Entry]
Encoding=UTF-8
Name=YumUpoid
ServiceTypes=Plasma/Applet
Type=Service
Icon=system-software-update
X-Plasma-API=python
X-Plasma-MainScript=code/main.py

X-KDE-PluginInfo-Author=Queria Sa-Tas
X-KDE-PluginInfo-Email=public@sa-tas.net
X-KDE-PluginInfo-Name=YumUpoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://github.com/queria/yumupoid
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
